@import url(http://fonts.googleapis.com/css?family=Marcellus);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

a {
text-decoration:none; color:inherit;
}
b {
color:#cd3700; font-weight:normal;
}
body,html {
width:100%; font:normal 16px 'Open Sans',sans-serif; color:#f0f0f0;
}
body {
background:rgb(228,230,229); font-size:16px;
}
p {
margin:25px 0 25px 0; display:block; font-size:0.98em;
}

#banner {
text-align:center; padding:10px; margin-top:10px;
}
	#banner img {
	border:3px; border-radius:1px;
	}
#canvas {
width:760px; height:390px; background-color:rgba(0,61,82,1); margin:10px auto 50px auto; display:block;
box-shadow:2px 2px 2px #aaa;
}
#game {
width:880px;
}
#footer {
margin:-10px 0; font-size:0.9em; height:40px; padding:0 0 20px 0; clear:both;
}
#header {
width:100%; float:left; text-shadow:0 1px 0 rgba(255,255,255,0.9);
}
	#header a {
	color:#707070;
	}
		#header a:hover {
		color:#cd3700;
		}
#wrapper {
width:900px; margin:50px auto 0 auto;
}
.box {
background:rgba(255,255,255,0.8); border-radius:1px; border-style:solid; border-color:#cecece; border-right-width:1px; border-bottom-width:1px;
float:left; padding:10px;
}
.clear {
width:100%; height:10px; padding:10px;
}
.container {
margin:30px auto 30px auto; color:#333;
}
	.container ol li {
	margin:10px 0 10px 30px; display:block;
	}
	.container ol {
	display:block; color:#707070;
	}
	.container a {
	color:#cd3700;
	}
		.container a:hover {
		color:#FF4400;
		}
.left {
float:left;
}
.inline,.inline_left {
display:block;
}
	.inline li {
	float:right; display:inline;
	}
	.inline_left li {
	float:left; display:inline;
	}
.right {
float:right;
}
.title {
font:400 1.6em 'Raleway'; margin:10px 0 10px 0; display:block;
}